@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.assistant-message {
  background: #f8fafc;
  border-left: 4px solid #60a5fa;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.7;
}
.assistant-message p {
  margin-bottom: 0.75em;
}
.citation-badge {
  color: #999999;
  border-radius: 0.1em;
  padding: 0 0.15em;
  font-size: 0.7em;
  margin-left: 0.1em;
  position: relative;
  top: 0em;
}
